/* Enter your custom styles here */
/* Enter your custom styles here */

.sapUiBody .sapMPageBgStandard {
    background-image: url('../assets/img/ImpExptBckgrnd.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.filterbarBackgroundStyle {
    opacity: 0.9;
    border-radius: 10px;
}
.sapMFlexItemAlignAuto .sapMFlexBoxBGTransparent .sapMFlexItem {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 5rem;
    padding-left: 1rem;
}
.sapMFlexItemAlignAuto .sapMFlexBoxBGTransparent .sapMFlexItem {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.2rem;
    padding-left: 1rem;
}
/*.sapMLabelTextWrapper {*/
/*	padding-top: 0.1rem;*/
/*    padding-bottom: 0.1rem;*/
/*    padding-right: 5rem;*/
/*    padding-left: 1rem;*/
/*}*/
.headerFormBackground {
    opacity: 0.7;
    background-color: white;
    border-radius: 0.5rem;
}

.sapUiTableM {
    opacity: 0.8;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.sapUiTableCnt {
    border-radius: 0.6rem;
}

.labelColor {
    color: black;
}

.textColor {
    color: black;
}

.myclass .sapMCbBg .sapMCbBgDis {
    border: none;
    top: 0px;
    height: 0px;
}

.ClsClearBg {
    background-image: none !important;
}

.sapMITBContent {
    border-radius: 1em;
}

/*.sapMITBContainerContent {*/
/*    padding: 5px;*/
/*    opacity: 0.9;*/
/*}*/

.clscurrency .sapUiUfdCurrencyAlign {
    text-align: left;
}

.formBorder {
    border: 1px solid #427cac;
}

.sapMPageFloatingFooter .sapMPageFooter .sapMIBar-CTX.sapMFooter-CTX.sapMTB {
    margin-right: 6px;
}

.sapMText.customFont {
    font-size: 12px !important;
}

.styleActualScema{
	margin-top: 14px;
}

